<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--<bean id="txManager" class="com.company.eshop.dao.impl.jdbc.tx.TransactionManagerImpl"/>-->
    <!--<bean id="productDao" class="com.company.eshop.dao.impl.ProductDaoMock"/>-->
    <bean id="productDao" class="com.company.eshop.dao.impl.jdbc.ProductDaoJdbcImpl"/>
    <!--<bean id="productDao" class="com.company.eshop.dao.impl.jdbc.ProductDaoJdbcExternalTxImpl">-->
        <!--<property name="dataSource" ref="txManager"/>-->
    <!--</bean>-->
</beans>